.risk-index {
    width: 80px;
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    display: block;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background: #cacaca;
}
.label-color1 {
    background: #d0021b !important;
}

.risk-index:before {
    background: url(../images/source-icon.png) no-repeat 0 -64px;
    width: 12px;
    height: 14px;
    content: "";
    display: inline-block;
    margin-right: 5px;
    vertical-align: -2px !important;
}
.media-list {
    display: table;
}
.media-list {
    padding-left: 0;
    list-style: none;
}
.media-list .item-media {
    display: table-cell;
    padding-right: 12px;
}
.media-list .item-media img {
    border-radius: 4px;
    width: 60px;
    height: 60px;
}

.media-list .item-inner {
    display: table-cell;
    text-align: left;
    font-size: 14px;
    vertical-align: middle;
}
.item-inner .item-title {
    margin-bottom: 10px;
    word-wrap: break-word;
}
.media-list .item-inner .item-title a {
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    text-align: justify;
    line-height: 22px;
}
.clearfix {
    display: block;
}

.media-list .item-inner .item-times {
    float: left;
    color: #999;
    font-size: 12px;
    clear: both;
    padding-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
}


.media-list .item-inner .item-tag ul {
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
    font-weight: normal;
}
.media-list .item-inner .item-tag li {
    background: #f7f7f7;
    border-radius: 2px;
    height: 20px;
    line-height: 19px;
    text-align: center;
    font-size: 12px;
    color: #999999;
    margin: 0 6px 6px 0;
    float: left;
}
.media-list .item-inner .item-tag li a {
    padding: 0 4px;
    background: #E4F0FF;
    color: #4A90E2;
    display: block;
    box-shadow: none;
    border: 1px solid #d7e5fc;
    border-radius: 4px;
}
.media-list .item-inner .item-times {
    float: left;
    color: #999;
    font-size: 12px;
    clear: both;
    padding-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
}
.media-list .item-inner .item-tag label {
    float: left;
    font-weight: normal;
}

.item-inner .item-title {
    margin-bottom: 10px;
    word-wrap: break-word;
}
.item-inner .item-title .a {
    color: #3179F8;
}
.mp-article-source a.source-details {
    background: #FF901B;
}
.mp-article-source a {
    width: 28px;
    height: 28px;
    background: none;
    border-radius: 50%;
    margin: 0 3px;
    line-height: 28px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    position: relative;
}
.mp-article-source a i.icon-fans {
    background-position: 0 -144px;
}
.mp-article-source a i.icon-details {
    background-position: 0 0;
}
.mp-article-source a i.icon-play {
    background-position: 0 -16px;
}
.mp-article-source a i.icon-star1 {
    background-position: 0 -32px;
}
.mp-article-source a.fans-analysis {
    background: #765AFF;
    box-sizing: border-box;
    color: #fff;
}
.mp-article-source a.source-play {
    background: #5997FE;
}
.mp-article-source a.source-collection {
    background: #FFBD3E;
    box-sizing: border-box;
    color: #fff;
}
.mp-article-source a i {
    background: url(../images/source-icon.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 6px;
}
.table td {
    border-bottom: 1px solid #eee;
    padding: 15px 10px;
}
.mp-article-source a.source-details {
    background: #FF901B;
}
.mp-article-source a {
    width: 28px;
    height: 28px;
    background: none;
    border-radius: 50%;
    margin: 0 3px;
    line-height: 28px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    position: relative;
}
.mp-article-source a i.icon-details {
    background-position: 0 0;
}
.mp-article-source a i.icon-star1 {
    background-position: 0 -32px;
}




.rank-trend-down {
    color: #1DC58C;
}
.rank-trend {
    font-size: 12px;
    color: #bfbfbf;
    line-height: 20px;
}
.music-list .rank-trend i {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 2px;
    transform: scale(1);
    font-size: 16px;
}
.rank-trend i {
    background: url(../images/video/rank-icon.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
}

.rank-trend-up i, .rank-trend-down i {
    font-size: 10px;
}
.rank-trend i {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 2px;
    /* transform: scale(0.8); */
}
.fa-long-arrow-down:before {
    content: "\f175";
}
.rank-trend-down {
    color: rgba(82,196,26,1);
}

.rank-trend-down {
    color: #46CF11;
}


.person-publicnum a {
    color: #303133;
}
.person-publicnum img {
    border-radius: 100%;
    margin-right: 12px;
    object-fit: cover;
}

.person-publicnum .u-info {
    display: inline-block;
    vertical-align: middle;
}
.person-publicnum a {
    color: #303133;
}
.person-publicnum .score {
    color: #909399;
    font-size: 13px;
    display: block;
    padding-top: 1px;
}

.text-left {
    text-align: left !important;
}


.text-left {
    text-align: left;
}
.btns-unified {
    width: 58px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 24px;
    font-size: 13px;
}
.btns-unified:link, .btns-unified:visited {
    text-align: center;
    background: #FF901B;
    border-radius: 4px;
    padding: 0 20px !important;
    min-width: 88px !important;
    display: inline-block !important;
    height: 32px !important;
    line-height: 32px !important;
    font-size: 14px !important;
    text-decoration: none;
    color: #fff;
    width: unset !important;
    float: left;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btns-unified {
    min-width: 50px !important;
}
/*
品牌搜索
*/

.personal {
    display: flex !important;
    align-items: center;
}
.brand-logo {
    margin-right: 6px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}
.personal .info {
    flex: 1;
    text-align: left;
}
.personal .info .name {
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.brand-logo {
    margin-right: 12px !important;
}
.icon-industry {
    color: rgba(248,106,80,1);
}
.icon-industry {
    padding: 0 8px;
    height: 22px;
    display: inline-block;
    line-height: 19px;
    color: #FF901B;
    font-size: 13px;
    background: none;
    min-width: 70px;
    text-align: center;
    border-radius: 4px;
    border: rgba(255, 182, 36, 0.2) 1px solid;
    background-color: rgba(255, 182, 36, 0.1);
    font-weight: normal;
}
i.sort::after {
    background: url(../images/icon-sorting.png) no-repeat 0 0;
    width: 14px;
    height: 14px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
}

.active {
    color: #FF901B !important;
}
.text-center {
    height: 30px !important;
    line-height: 30px !important;
    text-align: left !important;
}
.poiner{
    text-align: center;
}

.rank-new {
    color: #F78002;
    font-size: 12px;
    margin-left: 8px;
}
.brand-logo-default {
    display: inline-block;
    margin-right: 12px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    background-color: #FFF2E4;
    color: #FF901B;
    font-size: 20px;
    font-weight: 500;
    vertical-align: middle;
}
.icon-industry-1 {
    padding: 0 8px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    color: #FF901B;
    min-width: 70px;
    font-size: 13px;
    border: rgba(255, 182, 36, 0.2) 1px solid;
    background-color: rgba(255, 182, 36, 0.1);
    min-width: 70px;
    text-align: center;
    border-radius: 1000px;
    font-weight: normal;
    margin-right: 4px;
}

.yellow {
    color: #FF901B !important;
}
/*
	不提示
	overflow: hidden;
*/
.person-publicnum .person-publicnum-content {
    display: inline-block;
    line-height: 1.25;
    vertical-align: middle;
}

/*
商品分析
*/
.person-publicnum {
    display: flex;
    align-items: center;
}
.person-publicnum .desc {
    flex: 1;
}
.person-publicnum .desc a {
    width: 100%;
    text-align: left;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.person-publicnum .desc span {
    display: block;
    text-align: left;
    color: #FF901B;
    font-size: 13px;
    padding-top: 5px;
}
.txt-orange {
    color: rgba(248,106,80,1);
}

.person-publicnum .desc i {
    display: inline-block;
    margin-left: 0;
    vertical-align: -3px;
}

.person-publicnum1 img {
    width: 80px;
    height: 80px;
    border-radius: 2px;
    margin-right: 10px;
}

.person-publicnum i {
    background: url(../images/v-icon.png?=88) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 6px;
    vertical-align: middle;
}
.icon-so.ks {
    background-position: -92px -68px !important;
}


/* 商品热榜*/
.media-list-product {
    display: flex;
    align-items: center;
}
.media-list-product .item-media img {
    border-radius: 4px !important;
    width: 60px !important;
    height: 60px !important;
    object-fit: cover;
    margin-right: 12px;
}
.media-list-product .item-inner {
    flex: 1;
}
.media-list-product .item-title a {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.icon-so.ks {
    background-position: -92px -68px !important;
}

.icon-so {
    background: url(../images/v-icon.png) no-repeat 0 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 0 0;
}
.media-list-product .price {
    color: #FF901B !important;
    font-size: 13px;
    margin-top: 5px;
    display: block;
}
.price {
    color: #FF5000 !important;
}
.item-tag-rank {
    padding: 0 6px;
    font-size: 12px !important;
    color: #FF901B !important;
    background: rgba(255, 182, 36, 0.1);
    border-radius: 8px;
    margin-left: 6px;
    white-space: nowrap;
}
.fz-normal {
    font-weight: normal;
}


/*直播排行*/

.cmdlist-text3 {
    width: 270px;
}
.cmdlist-container {
    background: #f5f5f5;
    border: 1px solid transparent;
}
.cmdlist-container1 {
    height: 350px;
}
.cmdlist-container .caller-img1 {
    width: 100%;
    height: 100%;
}
.cmdlist-text {
    padding: 10px;
}
.cmdlist-text .caller-img {
    width: 45px;
    border-radius: 100%;
}
.cmdlist-text .info {
    height: 16px;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    color: #000;
    margin-bottom: 10px;
}

.cmdlist-text .info1 {
    height: 15px;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    overflow: hidden;
    color: #666;
    margin-bottom: 0px;
}

.cmdlist-text1 {
    color: #575859;
    font-size: 12px;
    padding: 0px 12px 15px;
    display: grid;
    grid-gap: 8px;
    gap: 8px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.cmdlist-text1 .info {
    height: 16px;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    overflow: hidden;
    color: #666;
    margin-bottom: 0px;
}
._1ZzPhusJ {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 2;
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    background-color: rgba(0,0,0,.2);
    padding-right: 12px;
    width: calc(100% - 16px);
    color: #fff;
}
._1ZzPhusJ:hover {
    color: #fb7800;;
}
._1YmAiWsG {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 0;
}
._120PkVif {
    position: absolute;
    z-index: 3;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid var(--white);
}
._2h77K91U {
    border-radius: 50%;
}
._1wo1nWGP {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

._1-mTUdF9 {
    position: relative;
    width: 100%;
    height: 230px;
    background-color: #000;
}
._1-mTUdF9:hover ._1O-CZwQz{
    border: 1px #fb7800 solid;
}
._1-mTUdF9:hover ._2gwPmyJ2 {
    
    opacity: 1; 
}
._3XZC2yxf {
    height: 100%;
}
._MnDMCmG- {
    opacity: 1;
    width: calc(100% - 8px);
    left: 8px;
}

._1fKrnCvM {
    background-color: rgba(58,58,62,.5);
    padding: 0 3px;
    border-radius: 2px;
}

._1mkksQJW {
    color: #faad14;
}
._3LfbRN2H {
    display: flex;
    height: 28px;
    align-items: center;
    padding: 0 8px;
    border-radius: 16px 0 0 16px;
    background-color: #fe2c55;
}

._31NzaYJu {
    display: inline-block;
    margin-left: 4px;
}
._2gwPmyJ2 {
    position: absolute;
    width: 120px;
    height: 74px;
    top: calc(50% - 37px);
    left: calc(50% - 51px);
    opacity: 0;
    z-index: 2;
}
._38B-uhlU {
    position: relative;
    height: 68px;
    width: 68px;
    margin: 0 auto;
}

._ZvaJaOFm {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

._15r20O-z {
    position: absolute;
    bottom: -30px;
    left: 6px;
    color: #fff;
}
._15r20O-z:hover {
    color: #ff7800;
}
._3LfbRN2H, ._MaLqd3gu {
    color: #303133;
    font-size: 14px;
    font-weight: 600;
}

._2u_z5i66, ._MnDMCmG- {
    position: absolute;
    bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #cdcfcf;
}
._3_VXHSRX {
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
    background: hsl(0, 0%, 100%) ;
    border: 1px solid #eee;
    transition: all .3s;
    cursor: pointer;
}

._24rZfRSU {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(207px,1fr));
    justify-content: space-between;
    grid-gap: 28px 30px;
}
._nROKsheH {
    padding: 8px 0;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #787a7a;
}
._iW6DbmMS {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    align-items: center;
}

._obixuA6d {
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
._ZvaJaOFm:first-of-type {
    background: #07ffd5;
    left: -2px;
    top: -2px;
}
._ZvaJaOFm {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

._ZvaJaOFm:nth-of-type(2) {
    background: #f5077e;
    bottom: -2px;
    right: -2px;
}
._ZvaJaOFm {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}
._ZvaJaOFm:nth-of-type(3) {
    padding: 3px;
    background:#fff;
}
._ZvaJaOFm {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}





._2mSysRoE {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
._1wingdrM {
    display: flex;
    justify-content: flex-start;
    max-width: 600px;
    position: relative;
    padding-right: 22px;
    box-sizing: border-box;
    font-size: 14px;
    overflow: hidden;
}

._1wingdrM span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
	white-space: normal !important;
}
._1LMYVHeR {
    max-width: 578px;
    height: 40px;
    padding-right: 20px;
    overflow: hidden;
    transition: all .5s;
}


._2hrclb12 {
    color: #ff7800;
}
._1LMYVHeR svg:first-child {
    color: #ff2d2e;
    vertical-align: -.3em;
    margin-right: 4px;
}

._2vvHLAIu {
    position: relative;
    display: inline-block;
    font-size: 12px;
    white-space: nowrap;
    color: red;
    padding: 2px 8px 1px;
    margin-bottom: 20px;
    background-color: #787a7a;
    border: 1px solid #787a7a;
    border-radius: 12px;
    opacity: .5;
    transition: all .3s ease-out;
    box-sizing: border-box;
    line-height: 16px;
    cursor: pointer;
}

._1DNVaTIP, ._2FpiLCCu {
    display: flex;
    align-items: center;
}
._1DNVaTIP {
    margin-top: 16px;
    line-height: 2px;
}
._2FpiLCCu {
    transition: all .3s;
}
._1YmAiWsG {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 0;
}

._120PkVif {
    position: absolute;
    z-index: 3;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #fff;
}
._2h77K91U {
    border-radius: 50%;
}

._2h77K91U, ._2pVd_Cng {
    position: absolute;
    z-index: 2;
    object-fit: cover;
}
._3TcQFWeZ {
    margin-left: 7px;
    font-size: 12px;
}
._1GvdtakU {
    margin-left: 16px;
    font-size: 12px;
    color: #949999;
}

svg:not(:root) {
    overflow: hidden;
}
._2vvHLAIu:not(:first-of-type) {
    margin-left: 8px;
}
.ant-row, .ant-row:after, .ant-row:before {
    display: flex;
}
.ant-row {
    flex-flow: row wrap;
}
._3Kda16Z6 {
    display: inline-block;
    flex-basis: 72px;
    flex-shrink: 0;
    width: 72px;
    margin-right: 16px;
    height: 112px;
    background-color: #000;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
} 


._34TF63Y1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
    color: var(--button-background);
    opacity: 0;
    transition: all .3s;
    cursor: pointer;
}




._1fDsID-f, ._2ufNcw5I {
    display: inline-block;
    width: 72px;
    object-fit: cover;
}
._2ufNcw5I {
    height: 100%;
}
._3e56ZVfg {
    position: absolute;
    right: 4px;
    bottom: 4px;
    background-color: rgba(58,58,62,.4);
    color: #fff;
    font-size: 12px;
    opacity: .8;
    padding: 0 4px;
    border-radius: 1px;
}

a {
    touch-action: manipulation;
    color: #ff7800;
    -webkit-text-decoration: var(--link-decoration);
    text-decoration: var(--link-decoration);
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color .3s;
    -webkit-text-decoration-skip: objects;
}
[class*=ant-], [class*=ant-] *, [class*=ant-] :after, [class*=ant-] :before, [class^=ant-], [class^=ant-] *, [class^=ant-] :after, [class^=ant-] :before {
    box-sizing: border-box;
}

.v-search-item {
    margin-bottom: 24px;
    position: relative;
    padding-right: 168px;
    background: #ffffff;
    border-radius: 4px;
}

.v-search-item {
    margin-bottom: 16px;
    box-shadow: 0;
    border-radius: 4px;
    border: 1px solid #EEEEEE;
    padding-right: 188px;
    position: relative;
}


.v-search-item .v-search-item-left {
    min-height: unset;
    box-shadow: none;
}
.v-search-item .v-search-item-left {
    min-height: 260px;
    padding: 24px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}

.v-search-info {
    min-height: unset;
}

.v-search-info {
    min-height: 100px;
    position: relative;
}
dl {
    list-style: none;
}

.v-search-info dt {
    width: 64px;
    height: 64px;
    margin-right: 12px;
}

.v-search-info .weChatID {
    margin-bottom: 4px;
}

.v-search-info .nickname {
    color: #303133;
    padding: 0;
    margin-right: 8px;
    vertical-align: -1px;
}
.v-search-info .v-search-items-tag {
    display: inline-block;
    padding: 0 8px;
    height: 22px;
    line-height: 20px;
    border: #FFCD97 1px solid;
    background-color: #FFF2E4;
    color: #FF901B;
    text-align: center;
    margin-right: 8px;
    border-radius: 4px;
    font-size: 12px;
}
.v-search-info .weChatID i {
    margin-right: 3px;
}
i.icon02f {
    color: #F03D3D !important;
    font-size: 14px !important;
    vertical-align: 1px;
}
.v-search-info .weChatID i {
    margin-right: 3px;
}

.v-search-info .appID {
    font-size: 14px;
    color: #8c8c8c;
    line-height: 22px;
    margin-bottom: 8px;
}
.v-search-info .intro {
    font-size: 13px;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #909399;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-width: calc(100% - 168px);
    margin-bottom: 24px;
    width: unset;
    white-space: unset !important;
}
.stat-feigua {
    color: #333333;
    font-size: 13px;
    text-align: right;
}
.stat-feigua .numerical {
    margin-top: 12px;
    line-height: 24px;
    color: #FF901B;
}

.v-zs-info-new {
    padding-top: 24px;
    display: flex;
    border-top: 1px solid #eee;
}

.v-zs-info-new li {
    flex: 1;
    text-align: center;
}
.v-zs-info-new li strong {
    display: block;
    color: #333333;
    font-size: 18px;
}
.v-zs-info-new li span {
    display: block;
    color: #909399;
    font-size: 13px;
    padding-top: 10px;
}
.v-search-item .v-search-item-right {
    width: 168px;
    height: 100%;
    background-color: #FBFBFB;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 4px 4px 0;
    text-align: center;
    padding: 24px 0;
    box-sizing: border-box;
}
.v-search-item .v-search-item-right {
    width: 188px;
    background: #fff;
}
.v-search-item .v-search-item-right::before {
    width: 1px;
    height: 158px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 24px;
    bottom: 24px;
    background: #eee;
}

.v-search-item .v-search-item-right .btn {
    width: 138px !important;
    height: 30px;
    line-height: 28px;
    color: #666666;
    border-color: #D8D8D8;
    margin-bottom: 12px;
}

.v-search-info dt img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}





